        
/* ------------------------------------------------------------------- */
/* 0. 공통   */

:root {
    --text-color: #f0f4f5;
    --background-color: #263343;
    --accent-color: #d49466;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Nanum Gothic', sans-serif;
    box-sizing: border-box;
}

ul li {
    width: 50px;
    list-style: none;
    overflow: hidden;
    font-size: 12px;
}

a {
    text-decoration: none;
    color: rgb(75, 73, 73);
    text-align: center;
}

/* ------------------------------------------------------------------- */
/* 1. nav   */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 140px;
    background-color: white;
}
.navbar__logo a {
    font-size: 30px;
    font-weight: bold;
    color: dimgray;
    letter-spacing: 1px;
}
.navbar__menu {
    display: flex;
    padding-left: 0;
}

.navbar__logo {
    width: 200px;
    height: 40px;
    display: flex;
    margin: 7px 0 0 150px;
    padding-left: 0;
    margin-left: 0;
}

.navbar__menu li {
    width: 60px;
    padding: 8px 20px;
    font-size: 17px;
    font-weight: lighter;
}

.navbar__menu li a:hover {
    color: plum;
}

.navbar__menu #menu1_C, .navbar__menu #menu1_D{
    width: 70px;
}

.navbar__login {
    display: flex;
    font-size: 15px;
    font-weight: lighter;
}

.navbar__login li {
    padding: 8px 12px;
}
.navbar__login #menu2_A {
    width: 60px;
}

@media screen and (max-width: 1100px) {
    .navbar {   
        align-items: flex-start;
        padding: 15px 50px 0;
    }
    .navbar__menu {
        display:none;
    }

}


/* ------------------------------------------------------------------- */
/* 2. section   */

section {
    height: 1000px;
}

.container {
    width: 100%;
    height: 550px;
    max-width: 1440px;
    user-select: none;
    margin: 0 auto;

}

.container .slideShowContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: gainsboro;
    position: relative;
}

.container .slideShowContainer #playPauseBtn {
    width: 32px;
    height: 32px;
    position: absolute;
    z-index: 5;
    margin: 5px;
    cursor: pointer;
    background-image: url('img15.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container .slideShowContainer .leftArrow, .container .slideShowContainer .rightArrow {
    width: 50px;
    background-color: lightgray;
    position: absolute;
    left: 0;
    z-index: 1;
    transition: background-color 0.5s;
    height: 72px;
    top: 50%;
    transform: translateY(-50%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.container .slideShowContainer .rightArrow {
    left: auto;
    right: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.container .slideShowContainer .leftArrow:hover, .container .slideShowContainer .rightArrow:hover {
    background: rgb(126, 124, 124);
    cursor: pointer;
}

.container .slideShowContainer .arrow {
    display: inline-block;
    border: 3px solid white;
    width: 10px;
    height: 10px;
    border-left: none;
    border-bottom: none;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.container .slideShowContainer .arrow.arrowLeft {
    transform: rotateZ(-135deg);
}

.container .slideShowContainer .arrow.arrowRight {
    transform: rotateZ(45deg);
}

.container .slideShowContainer .imageHolder {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
}

.container .slideShowContainer .imageHolder img {
    width: 100%;
    height: 100%;
}

.container #dotsContainer {
    width: 100%;
    height: 10%;
    text-align: center;
    padding-top: 20px;
    box-sizing: border-box;
    position: sticky;
}

.container #dotsContainer .dots {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 10px;
    background-color: #bbb;
    cursor: pointer;
    transition: background-color 0.5s;
}

.container #dotsContainer .dots:hover, .container #dotsContainer .dots.active {
    background-color: #717171;
}

.container #dotsContainer .dots:first-child {
    margin-left: 0;
}

.container .moveLeftCurrentSlide {
    animation-name: moveLeftCurrent;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
} 

.container .moveLeftNextSlide {
    animation-name: moveLeftNext;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
} 

@keyframes moveLeftCurrent {
    from {
        margin-left: 0;
        opacity: 1;
    } to {
        margin-left: -100%;
        opacity: 1;
    }
}

@keyframes moveLeftNext {
    from {
        margin-left: 100%;
        opacity: 1;
    } to {
        margin-left: 0;
        opacity: 1;
    }
}

.container .moveRightCurrentSlide {
    animation-name: moveRightCurrent;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
} 

.container .moveRightNextSlide {
    animation-name: moveRightNext;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
} 

@keyframes moveRightCurrent {
    from {
        margin-left: 0;
        opacity: 1;
    } to {
        margin-left: 100%;
        opacity: 1;
    }
}

@keyframes moveRightNext {
    from {
        margin-left: -100%;
        opacity: 1;
    } to {
        margin-left: 0;
        opacity: 1;
    }
}

.index-box-search {
    position: absolute;
    width: 70%;
    height: 200px;
    top: 550px;
    margin: 0 220px;
    background-color: skyblue;
    border-radius: 20px;
}

/* ------------------------------------------------------------------- */
/* 3. footer   */

footer {
    width: 1100px;
    margin: 0 auto 50px auto;
    padding: 30px;
    color: rgb(104, 98, 98);
}
footer .footer_lineUp {
    display: flex;
    padding: 0;
}
footer .footer_lineUp li {
    font-size: 15px;
    width: 110px;
    font-weight: lighter;
    padding: 0 12px;
}

footer .footer_lineUp #A {
    width: 100px;
}
footer .footer_lineUp #B {
    width: 120px;
}
footer .footer_lineUp #C {
    width: 80px;
}

footer .footer_lineUp a {
    color: grey;
}

footer .footer_line {
    width: auto;
    border-bottom: 1px solid rgb(224, 222, 222);
}

footer .footer_lineDown h2 {
    color: darkgray;
    font-size: 40px;
    font-weight: lighter;
    margin: 20px 0;
}

footer .footer_lineDown #opening {
    font-size: 20px;
    color: darkgrey;
}

footer .footer_lineDown p {
    font-size: 14px;
    letter-spacing: 1px;
}